.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  transition: top 0.3s ease;
  z-index: 1000; /* ヘッダーを前面に表示 */
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.menuIcon {
  cursor: pointer;
  font-size: 24px;
}

nav {
  position: absolute;
  top: 0;
  right: -300px;
  height: 100%;
  background: #fff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  padding: 10px 0;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: #333;
}
