body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 15pt;
  background-color: #fff;
}

main {
  flex: 1;
  padding: 20px;
  position: relative;
}

.part1 {
  position: relative;
  height: 50vh; /* part1の高さを50vhに設定 */
}

.part2 {
  position: relative;
  height: 75vh; /* part2の高さを75vhに設定 */
}

.part3, .part4, .part5, .part6 {
  position: relative;
  height: 100vh; /* デフォルトの高さを100vhに設定 */
}

.hospital img, .school img, .family img, .meeting img {
  position: absolute; /* 位置を絶対指定に変更 */
}

.part3 .hospital img {
  top: 50px;
  left: 50px;
}

.part3 .school img {
  top: 50px;
  right: 50px;
}

.part3 .family img {
  bottom: 50px;
  left: 50px;
}

.part3 .meeting img {
  bottom: 50px;
  right: 50px;
}

.part4 .hospital img {
  top: 50px;
  left: 50px;
}

.part4 .school img {
  top: 50px;
  right: 50px;
}

.part4 .family img {
  bottom: 50px;
  left: 50px;
}

.part4 .meeting img {
  bottom: 50px;
  right: 50px;
}

.part5 .hospital img {
  top: 50px;
  left: 50px;
}

.part5 .school img {
  top: 50px;
  right: 50px;
}

.part5 .family img {
  bottom: 50px;
  left: 50px;
}

.part5 .meeting img {
  bottom: 50px;
  right: 50px;
}

.part6 .hospital img {
  top: 50px;
  left: 50px;
}

.part6 .school img {
  top: 50px;
  right: 50px;
}

.part6 .family img {
  bottom: 50px;
  left: 50px;
}

.part6 .meeting img {
  bottom: 50px;
  right: 50px;
}

.language-menu {
  text-align: center;
  background-color: aliceblue;
  background-size: 30% 100%;
  position: absolute;
}

.language-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.language-menu li {
  margin: 5px 0;
}

.language-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-switch img {
  margin-bottom: 5px;
}
