body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* 基本スタイル */
body {
  font-size: 1.5vw; /* ビューポート幅の1.5%に基づくフォントサイズ */
}

.container {
  padding: 20px;
  background-color: #f8f8f8;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  padding: 20px;
  position: relative;
  padding-top: 80px !important;
}

.part1 {
  position: relative;
  transform: translateY(200px);
  height: 100vh;
}

.part2 {
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part3, .part4, .part5, .part6 {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.hospital, .school, .family, .meeting, .family2 {
  position: absolute;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part2 img {
  max-width: 100%;
  max-height: 100%;
  width: 150px;
  height: auto;
}

.part3 img, .part4 img, .part5 img, .part6 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.part3 .hospital, .part4 .hospital, .part5 .hospital, .part6 .hospital {
  top: 50px;
  left: 50px;
}

.part3 .school, .part4 .school, .part5 .school, .part6 .school {
  top: 50px;
  right: 50px;
}

.part3 .family, .part4 .family, .part5 .family2, .part6 .family2 {
  bottom: 50px;
  left: 50px;
}

.part3 .meeting, .part4 .meeting, .part5 .meeting, .part6 .meeting {
  bottom: 50px;
  right: 50px;
}

.sweat {
  position: absolute; 
  top: 160px; 
  left: 320px; 
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute; 
  top: 80px; 
  right: 5px;
  transform: translate(-50%, -50%);
}

.question {
  position: absolute; 
  bottom: 220px; 
  left: 100px;
  transform: translate(-50%, -50%);
}

.point {
  position: absolute; 
  bottom: 200px; 
  right: 5px;
  transform: translate(-50%, -50%);
}

.green {
  position: absolute; 
  bottom: 200px; 
  right: 5px;
  transform: translate(-50%, -50%);
}

.red {
  position: absolute; 
  bottom: 270px; 
  left: 220px;
  transform: translate(-50%, -50%);
}

.blue {
  position: absolute; 
  top: 190px; 
  left: 320px;
  transform: translate(-50%, -50%);
}

.yellow1 {
  position: absolute; 
  top: 280px; 
  right: 170px;
  transform: translate(-50%, -50%);
}

.yellow2 {
  position: absolute; 
  bottom: 30px; 
  right: 240px;
  transform: translate(-50%, -50%);
}

.present {
  position: absolute; 
  top: 200px; 
  right: 300px;
  width: 180px;
  transform: translate(-50%, -50%);
}

.firework {
  position: absolute; 
  top: 120px; 
  left: 550px;
  width: 170px;
  transform: translate(-50%, -50%);
}

.action {
  position: absolute; 
  top: 130px; 
  left: 260px;
  transform: translate(-50%, -50%);
}

.action2 {
  position: absolute; 
  bottom: 240px; 
  left: 60px;
  transform: translate(-50%, -50%);
}

.point2 {
  position: absolute; 
  top: 60px; 
  right: 40px;
  transform: translate(-50%, -50%);
}

.point3 {
  position: absolute; 
  bottom: 200px; 
  right: 320px;
  transform: translate(-50%, -50%);
}

/* Home.css */
.scale-target {
  animation: scale-animation 1.5s infinite alternate ease;
}

@keyframes scale-animation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.0);
  }
}