/* Information.css */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle-container {
  position: absolute; /* 画面全体を覆うために絶対位置を設定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.center-image {
  position: absolute;
  width: 100px;
  height: auto;
}

.comment {
  position: absolute;
  width: 100px; /* 必要に応じて調整 */
  text-align: center;
  cursor: pointer; /* クリック可能であることを示す */
  white-space: nowrap; /* テキストの改行を防ぐ */
  font-size: 20px;
}

.comment1 {
  transform: rotate(0deg) translate(250px) rotate(0deg);
}
.comment2 {
  transform: rotate(30deg) translate(250px) rotate(-30deg);
}
.comment3 {
  transform: rotate(60deg) translate(250px) rotate(-60deg);
}
.comment4 {
  transform: rotate(90deg) translate(250px) rotate(-90deg);
}
.comment5 {
  transform: rotate(120deg) translate(250px) rotate(-120deg);
}
.comment6 {
  transform: rotate(150deg) translate(250px) rotate(-150deg);
}
.comment7 {
  transform: rotate(180deg) translate(250px) rotate(-180deg);
}
.comment8 {
  transform: rotate(210deg) translate(250px) rotate(-210deg);
}
.comment9 {
  transform: rotate(240deg) translate(250px) rotate(-240deg);
}
.comment10 {
  transform: rotate(270deg) translate(250px) rotate(-270deg);
}
.comment11 {
  transform: rotate(320deg) translate(250px) rotate(-320deg);
}

.center-text {
  position: absolute; /* 親要素に対して絶対位置を設定します。これは他の要素に対して自由に配置するために使用します。 */
  top: 50%; /* 親要素の垂直方向の中央に配置します。 */
  left: 50%; /* 親要素の水平方向の中央に配置します。 */
  transform: translate(-50%, -50%); /* 元の位置を親要素の中央からさらに中央に移動します。これにより、要素は完全に中央に配置されます。 */
  background-color: #6b8e23; 
  padding: 20px; /* 要素内のコンテンツの上下左右に20ピクセルの余白を追加します。 */
  width: 80vw; /* ビュー幅の80%に設定します。 */
  max-width: 1500px; /* 最大幅を800ピクセルに設定します。 */
  height: 100%;
  border-radius: 10px; /* 要素の角を10ピクセルの半径で丸めます。 */
  border: 20px;
  border-color: #000;
  text-align: center; /* 要素内のテキストを中央揃えにします。 */
  margin: 30px;
}


.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  max-width: 500px; /* ここを変更して横幅を広げる */
  width: 100%;
  margin: 0 auto; /* 中央に配置 */
}

.form-container input,
.form-container textarea {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p {
  margin: 5px 0;
  color: #000;
}

header, footer {
  position: relative; /* 他の要素と同様に relative を設定 */
  z-index: 1; /* circle-container より低い z-index を設定 */
}