/* src/components/Information.css */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 15pt;
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.circle-container {
  position: relative;
  width: 500px; /* 中央に配置するためのサイズを指定 */
  height: 500px; /* 中央に配置するためのサイズを指定 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  position: absolute;
  width: 100px;
  height: auto;
}

.comment {
  position: absolute;
  width: 100px; /* 必要に応じて調整 */
  text-align: center;
  cursor: pointer; /* クリック可能であることを示す */
  white-space: nowrap; /* テキストの改行を防ぐ */
}

.comment1 {
  transform: rotate(0deg) translate(250px) rotate(0deg);
}
.comment2 {
  transform: rotate(30deg) translate(250px) rotate(-30deg);
}
.comment3 {
  transform: rotate(60deg) translate(250px) rotate(-60deg);
}
.comment4 {
  transform: rotate(90deg) translate(250px) rotate(-90deg);
}
.comment5 {
  transform: rotate(120deg) translate(250px) rotate(-120deg);
}
.comment6 {
  transform: rotate(150deg) translate(250px) rotate(-150deg);
}
.comment7 {
  transform: rotate(180deg) translate(250px) rotate(-180deg);
}
.comment8 {
  transform: rotate(210deg) translate(250px) rotate(-210deg);
}
.comment9 {
  transform: rotate(240deg) translate(250px) rotate(-240deg);
}
.comment10 {
  transform: rotate(270deg) translate(250px) rotate(-270deg);
}
.comment11 {
  transform: rotate(300deg) translate(250px) rotate(-300deg);
}
.comment12 {
  transform: rotate(330deg) translate(250px) rotate(-330deg);
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(128, 128, 128); /* 半透明のグレー */
  padding: 20px; /* 上下のパディングを調整 */
  width: 100%; /* 横幅を調整 */
  max-width: 800px; /* 最大横幅を設定 */
  height: 70%; /* 高さは自動調整 */
  border-radius: 10px;
  color: #fff;
  text-align: center;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  position: fixed;
  top: -60px; /* 初期状態でヘッダーを画面外に隠す */
  left: 0;
  right: 0;
  height: 60px;
  transition: top 0.3s ease;
  z-index: 1000; /* ヘッダーを前面に表示 */
}

.header.visible {
  top: 0; /* ヘッダーが表示される位置 */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
}
