.la-cause-container {
    padding: 20px; /* パディングを追加 */
    width: 700px;
  }

  .la-cause-container h1 {
    color: #000;
    font-size: 24px;
    text-align: center;
    top: 200px;
  }
  
  .la-cause-text {
    margin-bottom: 20px; /* 各リスト項目の下に余白 */
    line-height: 1.6; /* 行間を広げる */
    font-size: 16px; /* フォントサイズ */
    color: #000; /* テキストの色 */
    text-align: left;
    position: relative; /* 位置を相対的に変更 */
    background-color: #febd6986;
    border-radius: 10px;
    padding: 10px;
    border-width: 1px;
    border-color: #000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }