.market-container h1 {
  color: #000;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px; /* h1の下に余白を追加 */
  font-weight: bold;
}

.market-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.market-list {
  list-style-type: none;
  padding: 100;
  width: 100%;
  margin-top: 20px; /* リストの上に余白を追加 */
}

.market-item {
  padding: 20px;
  margin: 10px 0;
  transition: transform 0.2s;
  color: #000;
  width: 700px;
}

.market-item:nth-child(1),
.market-item:nth-child(2),
.market-item:nth-child(3),
.market-item:nth-child(4) {
  background-color: #3d8ecc86;
  text-align: left;
  width: 700px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  padding: 20px;
}


.la-cause-container {
  padding: 20px; /* パディングを追加 */
}

.la-cause-container h1 {
  color: #000;
  font-size: 26px;
  text-align: center;
  top: 200px;
  font-weight: bold;
  margin-bottom: 10px;
}

.la-cause-text {
  line-height: 1.6; /* 行間を広げる */
  font-size: 16px; /* フォントサイズ */
  color: #000; /* テキストの色 */
  text-align: left;
  position: relative; /* 位置を相対的に変更 */
  background-color: #febd6986;
  border-radius: 10px;
  padding: 10px;
  border-width: 1px;
  border-color: #000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 700px;
  margin-bottom: 20px;
}

.multimodal-container {
  font-family: Arial, sans-serif;
  padding: 30px;
  text-align: left; /* テキストを左揃え */
}

.multimodal h1 {
  color: #000; /* テキストの色 */
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
}

.multimodal-container p:first-of-type,
.multimodal-container p:last-of-type {
  color: #000; /* テキストの色 */
  line-height: 1.6; /* 行間 */
  text-align: left; /* 左揃え */
  position: relative; /* 位置を相対的に変更 */
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border-width: 1px;
  border-color: #000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  width: 700px;
  background-color: #f4b3b386;
}

.about-olive-container {
  width: 700px;
  position: relative;
  padding-top: 60px;
}

.about-olive-container h1 {
  color: #000; /* テキストの色 */
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px; 
  width: 100%; 
  margin: 0;
  font-weight: bold;
}

.about-olive-container p {
  color: #000; /* テキストの色 */
  line-height: 1.6; /* 行間 */
  background-color: #9ed79986;
  text-align: left; 
  border-radius: 10px;
  padding: 20px;
  border-width: 1px;
  border-color: #000;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}