.market-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.market-list {
  list-style-type: none;
  padding: 0;
}

.market-item {
  padding: 20px;
  margin: 10px 0;
  transition: transform 0.2s;
  color: #000;
}
