body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
}

.press-release-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: fixed;
}

.press-release-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  width: 100%; /* 親コンテナに合わせる */
  color: #000;
  font-weight: bold;
}

.press-release-list {
  max-height: 400px; /* スクロール可能な最大高さ */
  overflow-y: auto; /* 縦方向のスクロールを有効にする */
  border: 1px solid #000;
  border-radius: 10px; /* 角を丸くする */
  padding: 10px;
  background-color: #f4b3b386;
}

.press-release-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.date {
  font-weight: bold;
  margin-right: 10px;
  color: #000;
}

.content {
  flex-grow: 1;
  text-align: left;
  color: #000;
}

.center-text {
  position: fixed; /* 親要素に対して固定位置を設定します。 */
  top: 50%; /* 親要素の垂直方向の中央に配置します。 */
  left: 50%; /* 親要素の水平方向の中央に配置します。 */
  transform: translate(-50%, -50%); /* 元の位置を親要素の中央からさらに中央に移動します。これにより、要素は完全に中央に配置されます。 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%; /* 必要に応じて調整 */
  max-width: 800px; /* 必要に応じて調整 */
  max-height: 80vh; /* 最大高さを設定 */
  height: auto; /* 高さは自動調整 */
  background-color: rgba(124, 123, 123, 0.9); /* 半透明のグレー */
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  overflow-y: auto; /* 必要に応じてスクロール */
  font-size: 15px;
}
