.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #3b3c36;
  padding: 20px;
  color: white;
}

footer {
  background-color: #3b3c36;
  padding: 10px;
  color: white;
}
